openapi: 3.0.3
info:
  title: Sales Automation Systems Client API
  description: |
    Real-time event tracking and webhook API for Sales Automation Systems. 
    This API allows you to send us real-time events from your website and customer systems, 
    and configure webhooks to receive our outbound lead data.

    ---

    ## 📹 Video Tutorials

    | Guide | Link |
    |-------|------|
    | Getting Started | [▶️ Watch Setup Video](https://www.loom.com/share/10142595493d4523be825e872d413f91?sid=e1ea2827-7cce-4318-a489-c3f34ca6f3fa) |
    | HubSpot via Zapier | [▶️ Watch Integration Video](https://www.loom.com/share/a489487de1844a54a6f318fb3ea23842?sid=dc22ac70-b823-401d-b9c0-b075b9dcdc90) |

    ---

    ## 🔑 Authentication

    Your **Client ID** in the URL is your authentication. No API keys needed.
    
    ```
    POST https://rest.salesautomation.systems/attribution/{your_client_id}
    ```

    ---

    ## 📍 One Endpoint, Two Modes

    This endpoint handles both **Contact** and **Company** attribution based on which identifier you send:

    | I want to track... | Send this field | Payload includes |
    |--------------------|-----------------|------------------|
    | **A specific person** | `email` | first_name, last_name, company_name |
    | **An entire company** | `domain` | company_name, industry, employee_count |

    ---

    ## ⚠️ Important: Know the Difference

    | Event Type | With `email` (Person) | With `domain` (Company) |
    |------------|----------------------|------------------------|
    | `dnc` | Blocks **one person** | Blocks **ENTIRE company** |
    | `paying_customer` | One person is customer | Whole account is customer |
    | `sign_up` | Individual signed up | Company signed up |

  version: 1.0.0
  contact:
    name: Sales Automation Systems
    url: https://salesautomation.systems

servers:
  - url: https://rest.salesautomation.systems
    description: Production server

tags:
  - name: Contact Attribution
    description: |
      Track events for **individual people** using their email address.
      
      **Use when:**
      - Tracking individual user sign-ups
      - Per-user/per-seat billing
      - Blocking one specific person from outreach
      
      **Fields:** email, event_type, event_time, first_name, last_name, company_name
  - name: Company Attribution
    description: |
      Track events for **entire organizations** using their domain.
      
      **Use when:**
      - Account-based marketing
      - Per-account/company billing
      - Blocking an entire company from outreach
      
      **Fields:** domain, event_type, event_time, company_name, industry, employee_count

paths:
  /attribution/{client_id}:
    post:
      operationId: trackContactAttribution
      summary: Contact Attribution
      description: |
        Track attribution events for **individual contacts** using their email address.
        
        ---
        
        ## 👤 When to Use This
        
        - Tracking individual user sign-ups
        - Individual meeting bookings
        - Per-user/per-seat billing (paying_customer)
        - Blocking **one specific person** from outreach (dnc)
        
        ---
        
        ## ⚠️ DNC Warning
        
        Using `dnc` with an email blocks **only that one person**.
        
        If you want to block an entire company, use **Company Attribution** with `domain` instead.
        
      tags:
        - Contact Attribution
      parameters:
        - name: client_id
          in: path
          required: true
          schema:
            type: string
          description: Your unique Client ID (this is your authentication)
          example: "abc123xyz"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactAttributionRequest'
            examples:
              signup:
                summary: "Sign Up"
                value:
                  email: "john.doe@example.com"
                  event_type: "sign_up"
                  event_time: "2025-06-30T14:30:00Z"
                  first_name: "John"
                  last_name: "Doe"
                  company_name: "Example Corp"
              meeting_booked:
                summary: "Meeting Booked"
                value:
                  email: "john.doe@example.com"
                  event_type: "meeting_booked"
                  event_time: "2025-06-30T14:30:00Z"
                  first_name: "John"
                  last_name: "Doe"
              paying_customer:
                summary: "Paying Customer (per-user)"
                value:
                  email: "john.doe@example.com"
                  event_type: "paying_customer"
                  event_time: "2025-06-30T14:30:00Z"
                  first_name: "John"
                  last_name: "Doe"
                  company_name: "Example Corp"
              dnc:
                summary: "Do Not Contact (one person)"
                value:
                  email: "jane.smith@example.com"
                  event_type: "dnc"
                  event_time: "2025-06-30T14:30:00Z"
              website_visitor:
                summary: "Website Visitor"
                value:
                  email: "john.doe@example.com"
                  event_type: "website_visitor"
                  event_time: "2025-06-30T14:30:00Z"
      responses:
        '200':
          description: Event successfully recorded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttributionResponse'
              example:
                status: "success"
                message: "Contact event processed successfully"
                event_id: "evt_abc123xyz"
        '400':
          description: Bad request - Invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: "error"
                message: "Invalid email format"
        '401':
          description: Unauthorized - Invalid Client ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: "error"
                message: "Invalid Client ID"

  /attribution/{client_id}#company:
    post:
      operationId: trackCompanyAttribution
      summary: Company Attribution
      description: |
        Track attribution events for **entire companies** using their domain.
        
        ---
        
        ## 🏢 When to Use This
        
        - Account-based sign-ups
        - Company-level website visits
        - Per-account/company billing (paying_customer)
        - Blocking **an entire company** from outreach (dnc)
        
        ---
        
        ## 🚨 DNC Warning
        
        Using `dnc` with a domain blocks **ALL employees at that company**.
        
        If you only want to block one person, use **Contact Attribution** with `email` instead.
        
      tags:
        - Company Attribution
      parameters:
        - name: client_id
          in: path
          required: true
          schema:
            type: string
          description: Your unique Client ID (this is your authentication)
          example: "abc123xyz"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanyAttributionRequest'
            examples:
              signup:
                summary: "Sign Up"
                value:
                  domain: "example.com"
                  event_type: "sign_up"
                  event_time: "2025-06-30T14:30:00Z"
                  company_name: "Example Corp"
                  industry: "Technology"
                  employee_count: 500
              website_visitor:
                summary: "Website Visitor"
                value:
                  domain: "example.com"
                  event_type: "website_visitor"
                  event_time: "2025-06-30T14:30:00Z"
                  company_name: "Example Corp"
              paying_customer:
                summary: "Paying Customer (account-level)"
                value:
                  domain: "example.com"
                  event_type: "paying_customer"
                  event_time: "2025-06-30T14:30:00Z"
                  company_name: "Example Corp"
                  industry: "Technology"
                  employee_count: 500
              dnc:
                summary: "⚠️ Do Not Contact (ENTIRE company)"
                value:
                  domain: "example.com"
                  event_type: "dnc"
                  event_time: "2025-06-30T14:30:00Z"
                  company_name: "Example Corp"
      responses:
        '200':
          description: Event successfully recorded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttributionResponse'
              example:
                status: "success"
                message: "Company event processed successfully"
                event_id: "evt_xyz789abc"
        '400':
          description: Bad request - Invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: "error"
                message: "Invalid domain format"
        '401':
          description: Unauthorized - Invalid Client ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: "error"
                message: "Invalid Client ID"

components:
  schemas:
    EventType:
      type: string
      enum:
        - sign_up
        - meeting_booked
        - paying_customer
        - website_visitor
        - dnc
      description: |
        | Event | Description |
        |-------|-------------|
        | `sign_up` | New registration |
        | `meeting_booked` | Meeting scheduled |
        | `paying_customer` | Became a customer |
        | `website_visitor` | Visited website |
        | `dnc` | Do not contact |

    ContactAttributionRequest:
      type: object
      description: Track events for an individual contact
      required:
        - email
        - event_type
        - event_time
      properties:
        email:
          type: string
          format: email
          description: Email address of the contact
          example: "john.doe@example.com"
        event_type:
          allOf:
            - $ref: '#/components/schemas/EventType'
          description: The type of event to record
        event_time:
          type: string
          format: date-time
          description: When the event occurred (ISO 8601 format)
          example: "2025-06-30T14:30:00Z"
        first_name:
          type: string
          description: Contact's first name
          example: "John"
        last_name:
          type: string
          description: Contact's last name
          example: "Doe"
        company_name:
          type: string
          description: Name of the contact's company
          example: "Example Corp"

    CompanyAttributionRequest:
      type: object
      description: Track events for an entire company
      required:
        - domain
        - event_type
        - event_time
      properties:
        domain:
          type: string
          description: Company's domain name
          example: "example.com"
        event_type:
          allOf:
            - $ref: '#/components/schemas/EventType'
          description: The type of event to record
        event_time:
          type: string
          format: date-time
          description: When the event occurred (ISO 8601 format)
          example: "2025-06-30T14:30:00Z"
        company_name:
          type: string
          description: Name of the company
          example: "Example Corp"
        industry:
          type: string
          description: Industry sector of the company
          example: "Technology"
        employee_count:
          type: integer
          description: Number of employees in the company
          example: 500

    AttributionResponse:
      type: object
      properties:
        status:
          type: string
          example: "success"
        message:
          type: string
        event_id:
          type: string
          description: Unique ID for this event

    ErrorResponse:
      type: object
      properties:
        status:
          type: string
          example: "error"
        message:
          type: string
