openapi: 3.0.3
info:
  title: Sales Automation Systems Client API
  description: |
    Real-time event tracking API for Sales Automation Systems.

    ---

    ## 📹 Video Tutorials

    | Guide | Link |
    |-------|------|
    | Getting Started | [▶️ Watch Setup Video](https://www.loom.com/share/10142595493d4523be825e872d413f91?sid=e1ea2827-7cce-4318-a489-c3f34ca6f3fa) |
    | HubSpot via Zapier | [▶️ Watch Integration Video](https://www.loom.com/share/a489487de1844a54a6f318fb3ea23842?sid=dc22ac70-b823-401d-b9c0-b075b9dcdc90) |

    ---

    ## 🔑 Authentication

    Your **Client ID** in the URL is your authentication. No API keys needed.

  version: 1.0.0
  contact:
    name: Sales Automation Systems
    url: https://salesautomation.systems

servers:
  - url: https://rest.salesautomation.systems
    description: Production server

tags:
  - name: Attribution
    description: Track attribution events for contacts or companies.

paths:
  /attribution/{client_id}:
    post:
      operationId: trackAttribution
      summary: Track Attribution Event
      description: |
        # Send Attribution Events
        
        This single endpoint handles both **Contact** (individual) and **Company** (organization) attribution.
        
        ---
        
        ## 🎯 How It Works
        
        The system automatically detects the type based on which field you include:
        
        | To track... | Include | Example |
        |-------------|---------|---------|
        | **One person** | `email` | `"email": "john@acme.com"` |
        | **Entire company** | `domain` | `"domain": "acme.com"` |
        
        ---
        
        ## 👤 Contact Attribution
        
        Use `email` when tracking **individual people**:
        
        ```json
        {
          "email": "user@example.com",
          "event_type": "sign_up",
          "event_time": "2025-06-30T14:00:04.096Z",
          "first_name": "John",
          "last_name": "Doe",
          "company_name": "Example Corp"
        }
        ```
        
        **Best for:** Individual sign-ups, per-user billing, blocking one person
        
        ---
        
        ## 🏢 Company Attribution
        
        Use `domain` when tracking **entire organizations**:
        
        ```json
        {
          "domain": "example.com",
          "event_type": "sign_up",
          "event_time": "2025-06-30T14:00:04.096Z",
          "company_name": "Example Corporation"
        }
        ```
        
        **Best for:** Account-based tracking, company billing, blocking entire company
        
        ---
        
        ## ⚠️ Important: DNC Behavior
        
        | You send | What happens |
        |----------|--------------|
        | `email` + `dnc` | Blocks **one person** |
        | `domain` + `dnc` | Blocks **ENTIRE company** (all employees!) |
        
        ---
        
        ## 📋 Select an Example Below
        
        Use the **Examples dropdown** on the right to see different payloads. Click **"Try it"** to get the cURL command.
        
      tags:
        - Attribution
      parameters:
        - name: client_id
          in: path
          required: true
          schema:
            type: string
          description: Your unique Client ID provided by Sales Automation Systems (this is your authentication)
          example: "YOUR_CLIENT_ID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: |
                Include `email` for Contact Attribution OR `domain` for Company Attribution.
              properties:
                email:
                  type: string
                  format: email
                  description: "**Contact Attribution:** Email address of the individual"
                  example: "user@example.com"
                domain:
                  type: string
                  description: "**Company Attribution:** Domain of the company"
                  example: "example.com"
                event_type:
                  type: string
                  enum:
                    - sign_up
                    - meeting_booked
                    - paying_customer
                    - website_visitor
                    - dnc
                  description: Type of event
                  example: "sign_up"
                event_time:
                  type: string
                  format: date-time
                  description: When the event occurred (ISO 8601)
                  example: "2025-06-30T14:00:04.096Z"
                first_name:
                  type: string
                  description: "**Contact only:** Person's first name"
                  example: "John"
                last_name:
                  type: string
                  description: "**Contact only:** Person's last name"
                  example: "Doe"
                company_name:
                  type: string
                  description: Name of the company
                  example: "Example Corp"
              required:
                - event_type
                - event_time
            examples:
              contact_signup:
                summary: "👤 Contact: Sign Up"
                description: Track when an individual person signs up
                value:
                  email: "user@example.com"
                  event_type: "sign_up"
                  event_time: "2025-06-30T14:00:04.096Z"
                  first_name: "John"
                  last_name: "Doe"
                  company_name: "Example Corp"
              contact_meeting:
                summary: "👤 Contact: Meeting Booked"
                description: Track when an individual books a meeting
                value:
                  email: "user@example.com"
                  event_type: "meeting_booked"
                  event_time: "2025-06-30T14:00:04.096Z"
                  first_name: "John"
                  last_name: "Doe"
              contact_paying:
                summary: "👤 Contact: Paying Customer"
                description: Mark an individual as a paying customer (per-user billing)
                value:
                  email: "user@example.com"
                  event_type: "paying_customer"
                  event_time: "2025-06-30T14:00:04.096Z"
                  first_name: "John"
                  last_name: "Doe"
                  company_name: "Example Corp"
              contact_visitor:
                summary: "👤 Contact: Website Visitor"
                description: Track an identified website visitor
                value:
                  email: "user@example.com"
                  event_type: "website_visitor"
                  event_time: "2025-06-30T14:00:04.096Z"
              contact_dnc:
                summary: "👤 Contact: Do Not Contact"
                description: Block outreach to ONE specific person
                value:
                  email: "user@example.com"
                  event_type: "dnc"
                  event_time: "2025-06-30T14:00:04.096Z"
              company_signup:
                summary: "🏢 Company: Sign Up"
                description: Track when a company/account signs up
                value:
                  domain: "example.com"
                  event_type: "sign_up"
                  event_time: "2025-06-30T14:00:04.096Z"
                  company_name: "Example Corporation"
              company_visitor:
                summary: "🏢 Company: Website Visitor"
                description: Track a company visiting your website
                value:
                  domain: "example.com"
                  event_type: "website_visitor"
                  event_time: "2025-06-30T14:00:04.096Z"
                  company_name: "Example Corporation"
              company_paying:
                summary: "🏢 Company: Paying Customer"
                description: Mark an entire account as a paying customer
                value:
                  domain: "example.com"
                  event_type: "paying_customer"
                  event_time: "2025-06-30T14:00:04.096Z"
                  company_name: "Example Corporation"
              company_dnc:
                summary: "🏢⚠️ Company: Do Not Contact (blocks everyone!)"
                description: "WARNING: Blocks ALL employees at this domain from outreach"
                value:
                  domain: "example.com"
                  event_type: "dnc"
                  event_time: "2025-06-30T14:00:04.096Z"
                  company_name: "Example Corporation"
      responses:
        '200':
          description: Event successfully recorded
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "success"
                  message:
                    type: string
                    example: "Event processed successfully"
                  event_id:
                    type: string
                    example: "evt_abc123xyz"
        '400':
          description: Bad request - Invalid input data
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "error"
                  message:
                    type: string
                    example: "Invalid email or domain format"
        '401':
          description: Unauthorized - Invalid Client ID
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "error"
                  message:
                    type: string
                    example: "Invalid Client ID"
