openapi: 3.0.3
info:
  title: Sales Automation Systems Client API
  description: |
    Real-time event tracking and webhook API for Sales Automation Systems. 
    This API allows you to send us real-time events from your website and customer systems, 
    and configure webhooks to receive our outbound lead data.

    ---

    ## 📹 Video Tutorials

    ### Getting Started Setup Guide
    Learn how to set up the Sales Automation Systems API in just a few minutes.
    
    [▶️ Watch Setup Guide Video](https://www.loom.com/share/10142595493d4523be825e872d413f91?sid=e1ea2827-7cce-4318-a489-c3f34ca6f3fa)

    ### HubSpot Integration via Zapier
    Step-by-step guide to integrating with HubSpot using Zapier.
    
    [▶️ Watch HubSpot Setup Video](https://www.loom.com/share/a489487de1844a54a6f318fb3ea23842?sid=dc22ac70-b823-401d-b9c0-b075b9dcdc90)

    ---

    ## 🔑 Authentication

    Authentication is handled via your unique **Client ID** in the URL path:
    
    ```
    POST https://rest.salesautomation.systems/attribution/{your_client_id}
    ```
    
    Your Client ID is a unique identifier generated specifically for your account. Contact Sales Automation Systems to obtain your Client ID.
    
    > **No API keys or Bearer tokens required** - your Client ID in the URL is your authentication.

    ---

    ## ⚠️ Contact vs Company Attribution: Which Should You Use?

    This endpoint accepts two types of attribution based on which identifier you provide:

    | To Track... | Include This Field | Leave Empty |
    |-------------|-------------------|-------------|
    | **Individual person** | `email` | `domain` |
    | **Entire company** | `domain` | `email` |

    ### 🚨 Critical: Event Type Implications

    **`dnc` (Do Not Contact)**
    - With `email`: Blocks **only that specific person**
    - With `domain`: Blocks **the ENTIRE company** (all employees at that domain)
    
    **`paying_customer`**
    - With `email`: Marks **one person** as a customer (use for per-seat/per-user billing)
    - With `domain`: Marks **the whole account** as a customer (use for account-based/company billing)

    ---

    ## 📊 Event Types Reference

    | Event Type | Description | Typical Use |
    |------------|-------------|-------------|
    | `sign_up` | New registration | Form submissions, trial sign-ups |
    | `meeting_booked` | Meeting scheduled | Calendar bookings, demo requests |
    | `paying_customer` | Conversion to customer | Closed deals, subscriptions |
    | `website_visitor` | Website visit | Page views, identified visitors |
    | `dnc` | Do not contact | Opt-outs, unsubscribes, bad fits |

  version: 1.0.0
  contact:
    name: Sales Automation Systems
    url: https://salesautomation.systems

servers:
  - url: https://rest.salesautomation.systems
    description: Production server

tags:
  - name: Attribution
    description: |
      Track attribution events for contacts or companies.
      
      **Use `email` to track individuals, or `domain` to track entire companies.**

paths:
  /attribution/{client_id}:
    post:
      operationId: trackAttribution
      summary: Track Attribution Event
      description: |
        Send real-time attribution events to track contact or company actions.
        
        ---
        
        ## How It Works
        
        This single endpoint handles both **Contact** and **Company** attribution based on which field you include:
        
        - **Include `email`** → Tracks/affects an **individual person**
        - **Include `domain`** → Tracks/affects an **entire company**
        
        ---
        
        ## ⚠️ Choose Carefully!
        
        ### For `dnc` (Do Not Contact)
        
        | You Send | What Happens |
        |----------|--------------|
        | `email` | Blocks **one person** |
        | `domain` | Blocks **ENTIRE company** (all employees) |
        
        ### For `paying_customer`
        
        | You Send | What Happens |
        |----------|--------------|
        | `email` | Marks **one person** as customer (per-user billing) |
        | `domain` | Marks **entire account** as customer (account-based billing) |
        
        ---
        
        ## Quick Reference
        
        | Your Goal | Use |
        |-----------|-----|
        | Block one person | `email` + `dnc` |
        | Block entire company | `domain` + `dnc` |
        | Individual converted | `email` + `paying_customer` |
        | Account converted | `domain` + `paying_customer` |
        
      tags:
        - Attribution
      parameters:
        - name: client_id
          in: path
          required: true
          schema:
            type: string
          description: |
            Your unique Client ID provided by Sales Automation Systems. 
            This serves as your authentication.
          example: "abc123xyz"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttributionRequest'
            examples:
              contact_signup:
                summary: "Contact: Sign Up"
                description: Track when an individual signs up (using email)
                value:
                  email: "john.doe@example.com"
                  event_type: "sign_up"
                  event_time: "2025-06-30T14:30:00Z"
                  first_name: "John"
                  last_name: "Doe"
                  company_name: "Example Corp"
                  campaign_id: "summer_2025"
              contact_dnc:
                summary: "Contact: DNC (one person)"
                description: Block outreach to ONE specific person
                value:
                  email: "jane.smith@example.com"
                  event_type: "dnc"
                  event_time: "2025-06-30T14:30:00Z"
              contact_paying:
                summary: "Contact: Paying Customer (per-user)"
                description: Mark an individual as a paying customer
                value:
                  email: "john.doe@example.com"
                  event_type: "paying_customer"
                  event_time: "2025-06-30T14:30:00Z"
                  first_name: "John"
                  last_name: "Doe"
              company_signup:
                summary: "Company: Sign Up"
                description: Track when a company signs up (using domain)
                value:
                  domain: "example.com"
                  event_type: "sign_up"
                  event_time: "2025-06-30T14:30:00Z"
                  company_name: "Example Corp"
                  campaign_id: "enterprise_q4"
              company_dnc:
                summary: "⚠️ Company: DNC (ENTIRE company)"
                description: "WARNING: Blocks ALL employees at this domain!"
                value:
                  domain: "example.com"
                  event_type: "dnc"
                  event_time: "2025-06-30T14:30:00Z"
                  company_name: "Example Corp"
              company_paying:
                summary: "Company: Paying Customer (account)"
                description: Mark an entire company as a paying customer
                value:
                  domain: "example.com"
                  event_type: "paying_customer"
                  event_time: "2025-06-30T14:30:00Z"
                  company_name: "Example Corp"
      responses:
        '200':
          description: Event successfully recorded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttributionResponse'
              examples:
                contact_success:
                  summary: Contact Event Success
                  value:
                    status: "success"
                    message: "Contact event processed successfully"
                    event_id: "evt_contact_abc123xyz"
                company_success:
                  summary: Company Event Success
                  value:
                    status: "success"
                    message: "Company event processed successfully"
                    event_id: "evt_company_xyz789abc"
        '400':
          description: Bad request - Invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: "error"
                message: "Invalid email or domain format"
        '401':
          description: Unauthorized - Invalid Client ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: "error"
                message: "Invalid Client ID"

components:
  schemas:
    EventType:
      type: string
      enum:
        - sign_up
        - meeting_booked
        - paying_customer
        - website_visitor
        - dnc
      description: Type of attribution event

    AttributionRequest:
      type: object
      description: |
        **Include `email` for Contact Attribution, OR `domain` for Company Attribution.**
        
        ⚠️ For `dnc` events: Using `domain` blocks the ENTIRE company!
      required:
        - event_type
        - event_time
      properties:
        email:
          type: string
          format: email
          description: |
            **For Contact Attribution (individual tracking).**
            
            Include this to track/affect a specific person.
            
            *Leave empty if using `domain` for company attribution.*
          example: "john.doe@example.com"
        domain:
          type: string
          description: |
            **For Company Attribution (organization tracking).**
            
            Include this to track/affect an entire company.
            
            ⚠️ For `dnc`: This blocks ALL employees at this domain!
            
            *Leave empty if using `email` for contact attribution.*
          example: "example.com"
        event_type:
          allOf:
            - $ref: '#/components/schemas/EventType'
          description: |
            Type of attribution event.
            
            **Impact depends on whether you use `email` or `domain`:**
            - `dnc` with email = blocks one person
            - `dnc` with domain = blocks ENTIRE company
        event_time:
          type: string
          format: date-time
          description: ISO 8601 timestamp when the event occurred
          example: "2025-06-30T14:30:00Z"
        first_name:
          type: string
          description: Contact's first name (for contact attribution)
          example: "John"
        last_name:
          type: string
          description: Contact's last name (for contact attribution)
          example: "Doe"
        company_name:
          type: string
          description: Name of the company
          example: "Example Corp"
        campaign_id:
          type: string
          description: Campaign identifier for attribution tracking
          example: "summer_2025"

    AttributionResponse:
      type: object
      properties:
        status:
          type: string
          example: "success"
        message:
          type: string
          description: Human-readable response message
        event_id:
          type: string
          description: Unique identifier for the recorded event

    ErrorResponse:
      type: object
      properties:
        status:
          type: string
          example: "error"
        message:
          type: string
          description: Error description
