openapi: 3.0.3
info:
  title: Sales Automation Systems Client API
  description: |
    Real-time event tracking and webhook API for Sales Automation Systems. 
    This API allows you to send us real-time events from your website and customer systems, 
    and configure webhooks to receive our outbound lead data.

    ---

    ## 📹 Video Tutorials

    ### Getting Started Setup Guide
    Learn how to set up the Sales Automation Systems API in just a few minutes.
    
    [▶️ Watch Setup Guide Video](https://www.loom.com/share/10142595493d4523be825e872d413f91?sid=e1ea2827-7cce-4318-a489-c3f34ca6f3fa)

    ---

    ### HubSpot Integration via Zapier
    Step-by-step guide to integrating with HubSpot using Zapier.
    
    [▶️ Watch HubSpot Setup Video](https://www.loom.com/share/a489487de1844a54a6f318fb3ea23842?sid=dc22ac70-b823-401d-b9c0-b075b9dcdc90)

    ---

    ## 🔑 Authentication

    Authentication is handled via your unique **Client ID** in the URL path:
    
    ```
    POST https://rest.salesautomation.systems/attribution/{your_client_id}
    ```
    
    Your Client ID is a unique identifier generated specifically for your account. Contact Sales Automation Systems to obtain your Client ID.
    
    > **No API keys or Bearer tokens required** - your Client ID in the URL is your authentication.

    ---

    ## 📊 Event Types

    | Event Type | Description |
    |------------|-------------|
    | `sign_up` | New user registration |
    | `meeting_booked` | Meeting scheduled |
    | `paying_customer` | Conversion to paying customer |
    | `website_visitor` | Website visit tracking |
    | `dnc` | Do not contact flag |

  version: 1.0.0
  contact:
    name: Sales Automation Systems
    url: https://salesautomation.systems

servers:
  - url: https://rest.salesautomation.systems
    description: Production server

tags:
  - name: Contact Attribution
    description: Track individual contact actions using email addresses
  - name: Company Attribution
    description: Track company-wide actions using domain names

paths:
  /attribution/{client_id}:
    post:
      operationId: trackContactAttribution
      summary: Contact Attribution
      description: |
        Send real-time events to track individual contact actions and attribution data using **email addresses**.
        
        The system identifies this as a contact event when the `email` field is present in the request body.
        
        ### Use Cases
        - Track when a contact signs up on your website
        - Record meeting bookings for specific contacts
        - Attribute conversions to individual contacts
        - Mark contacts as paying customers
      tags:
        - Contact Attribution
      parameters:
        - name: client_id
          in: path
          required: true
          schema:
            type: string
          description: |
            Your unique Client ID provided by Sales Automation Systems. 
            This serves as your authentication - no additional API keys required.
          example: "abc123xyz"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactAttributionRequest'
            example:
              email: "user@example.com"
              event_type: "sign_up"
              event_time: "2025-06-30T14:30:00Z"
              first_name: "John"
              last_name: "Doe"
              company_name: "Example Corp"
              campaign_id: "summer_2025"
      responses:
        '200':
          description: Event successfully recorded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttributionResponse'
              example:
                status: "success"
                message: "Contact event processed successfully"
                event_id: "evt_contact_abc123xyz"
        '400':
          description: Bad request - Invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: "error"
                message: "Invalid email format"
        '401':
          description: Unauthorized - Invalid Client ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: "error"
                message: "Invalid Client ID"

  /attribution/{client_id}#company:
    post:
      operationId: trackCompanyAttribution
      summary: Company Attribution
      description: |
        Send real-time events to track company-wide actions and attribution data using **domain names**.
        
        The system identifies this as a company event when the `domain` field is present in the request body.
        
        ### Use Cases
        - Track when a company visits your website
        - Record meetings booked with companies
        - Attribute conversions at the company level
        - Mark companies as paying customers
        
        > **Note:** This endpoint uses the same URL as Contact Attribution. The backend differentiates based on the presence of `domain` vs `email` in the request body.
      tags:
        - Company Attribution
      parameters:
        - name: client_id
          in: path
          required: true
          schema:
            type: string
          description: |
            Your unique Client ID provided by Sales Automation Systems. 
            This serves as your authentication - no additional API keys required.
          example: "abc123xyz"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanyAttributionRequest'
            example:
              domain: "example.com"
              event_type: "sign_up"
              event_time: "2025-06-30T14:30:00Z"
              company_name: "Example Corp"
              campaign_id: "enterprise_q4"
      responses:
        '200':
          description: Event successfully recorded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttributionResponse'
              example:
                status: "success"
                message: "Company event processed successfully"
                event_id: "evt_company_xyz789abc"
        '400':
          description: Bad request - Invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: "error"
                message: "Invalid domain format"
        '401':
          description: Unauthorized - Invalid Client ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: "error"
                message: "Invalid Client ID"

components:
  schemas:
    EventType:
      type: string
      enum:
        - sign_up
        - meeting_booked
        - paying_customer
        - website_visitor
        - dnc
      description: Type of attribution event

    ContactAttributionRequest:
      type: object
      required:
        - email
        - event_type
        - event_time
      properties:
        email:
          type: string
          format: email
          description: Email address of the contact (required for contact attribution)
        event_type:
          $ref: '#/components/schemas/EventType'
        event_time:
          type: string
          format: date-time
          description: ISO 8601 timestamp when the event occurred
        first_name:
          type: string
          description: Contact's first name
        last_name:
          type: string
          description: Contact's last name
        company_name:
          type: string
          description: Name of the contact's company
        campaign_id:
          type: string
          description: Campaign identifier for attribution tracking

    CompanyAttributionRequest:
      type: object
      required:
        - domain
        - event_type
        - event_time
      properties:
        domain:
          type: string
          description: Company domain for company-wide attribution (required for company attribution)
        event_type:
          $ref: '#/components/schemas/EventType'
        event_time:
          type: string
          format: date-time
          description: ISO 8601 timestamp when the event occurred
        company_name:
          type: string
          description: Name of the company
        campaign_id:
          type: string
          description: Campaign identifier for attribution tracking

    AttributionResponse:
      type: object
      properties:
        status:
          type: string
          example: "success"
        message:
          type: string
          description: Human-readable response message
        event_id:
          type: string
          description: Unique identifier for the recorded event

    ErrorResponse:
      type: object
      properties:
        status:
          type: string
          example: "error"
        message:
          type: string
          description: Error description
