openapi: 3.0.3
info:
  title: Sales Automation Systems Client API
  description: |
    Real-time event tracking and webhook API for Sales Automation Systems. 
    This API allows you to send us real-time events from your website and customer systems, 
    and configure webhooks to receive our outbound lead data.

    ---

    ## 📹 Video Tutorials

    ### Getting Started Setup Guide
    Learn how to set up the Sales Automation Systems API in just a few minutes.
    
    [▶️ Watch Setup Guide Video](https://www.loom.com/share/10142595493d4523be825e872d413f91?sid=e1ea2827-7cce-4318-a489-c3f34ca6f3fa)

    ### HubSpot Integration via Zapier
    Step-by-step guide to integrating with HubSpot using Zapier.
    
    [▶️ Watch HubSpot Setup Video](https://www.loom.com/share/a489487de1844a54a6f318fb3ea23842?sid=dc22ac70-b823-401d-b9c0-b075b9dcdc90)

    ---

    ## 🔑 Authentication

    Authentication is handled via your unique **Client ID** in the URL path:
    
    ```
    POST https://rest.salesautomation.systems/attribution/{your_client_id}
    ```
    
    Your Client ID is a unique identifier generated specifically for your account. Contact Sales Automation Systems to obtain your Client ID.
    
    > **No API keys or Bearer tokens required** - your Client ID in the URL is your authentication.

    ---

    ## ⚠️ Contact vs Company Attribution: Which Should You Use?

    This API accepts two types of attribution - and **choosing the right one is critical** for accurate tracking and avoiding unintended consequences.

    | Use Case | Send `email` (Contact) | Send `domain` (Company) |
    |----------|------------------------|-------------------------|
    | **Scope** | Individual person | Entire organization |
    | **Identifier** | Email address | Company domain |
    | **Best for** | B2C, individual tracking | B2B, account-based tracking |

    ### 🚨 Important: Event Type Implications

    **`dnc` (Do Not Contact)**
    - With `email`: Blocks **only that specific person**
    - With `domain`: Blocks **the ENTIRE company** (all employees at that domain)
    
    **`paying_customer`**
    - With `email`: Marks **one person** as a customer (use for per-seat/per-user billing)
    - With `domain`: Marks **the whole account** as a customer (use for account-based/company billing)

    **`sign_up` / `meeting_booked` / `website_visitor`**
    - With `email`: Attributes the action to an individual contact
    - With `domain`: Attributes the action to the company (useful for anonymous visitors identified by domain)

    ---

    ## 📊 Event Types Reference

    | Event Type | Description | Typical Use |
    |------------|-------------|-------------|
    | `sign_up` | New registration | Form submissions, trial sign-ups |
    | `meeting_booked` | Meeting scheduled | Calendar bookings, demo requests |
    | `paying_customer` | Conversion to customer | Closed deals, subscriptions |
    | `website_visitor` | Website visit | Page views, identified visitors |
    | `dnc` | Do not contact | Opt-outs, unsubscribes, bad fits |

  version: 1.0.0
  contact:
    name: Sales Automation Systems
    url: https://salesautomation.systems

servers:
  - url: https://rest.salesautomation.systems
    description: Production server

tags:
  - name: Contact Attribution
    description: |
      ## Track Individual Contacts (Email-Based)
      
      Use Contact Attribution when you want to track **specific people** by their email address.
      
      ### ✅ Best For
      - Individual user sign-ups
      - Personal meeting bookings  
      - Per-user/per-seat customer tracking
      - Blocking a specific person from outreach
      
      ### ⚠️ When NOT to Use
      - If you want to track/block an entire company, use **Company Attribution** instead
      - If your billing is account-based (not per-user), use **Company Attribution** for `paying_customer`
      
      ---
      
      **Required field:** `email`
      
  - name: Company Attribution
    description: |
      ## Track Companies (Domain-Based)
      
      Use Company Attribution when you want to track **entire organizations** by their domain.
      
      ### ✅ Best For
      - Account-based marketing (ABM)
      - Company-wide events (e.g., "Acme Inc signed up")
      - Account-level billing/customer tracking
      - Blocking an entire organization from outreach
      
      ### ⚠️ When NOT to Use
      - If you want to track a specific person, use **Contact Attribution** instead
      - If you only want to block one employee (not the whole company), use **Contact Attribution** for `dnc`
      
      ---
      
      **Required field:** `domain`

paths:
  /attribution/{client_id}:
    post:
      operationId: trackContactAttribution
      summary: Contact Attribution
      description: |
        Track events for **individual contacts** using their email address.
        
        Use this when you want to attribute actions to a **specific person**.
        
        ---
        
        ## ⚠️ Important Notes
        
        ### For `dnc` (Do Not Contact)
        Using `email` will block outreach to **only this one person**.
        
        *If you want to block an entire company, use Company Attribution with `domain` instead.*
        
        ### For `paying_customer`
        Using `email` marks **this individual** as a customer (per-user/per-seat billing).
        
        *If your billing is account-based, use Company Attribution with `domain` instead.*
        
      tags:
        - Contact Attribution
      parameters:
        - name: client_id
          in: path
          required: true
          schema:
            type: string
          description: |
            Your unique Client ID provided by Sales Automation Systems. 
            This serves as your authentication - no additional API keys required.
          example: "abc123xyz"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactAttributionRequest'
            examples:
              sign_up:
                summary: "Sign Up Event"
                description: Track when an individual signs up
                value:
                  email: "john.doe@example.com"
                  event_type: "sign_up"
                  event_time: "2025-06-30T14:30:00Z"
                  first_name: "John"
                  last_name: "Doe"
                  company_name: "Example Corp"
                  campaign_id: "summer_2025"
              paying_customer:
                summary: "Paying Customer (per-user)"
                description: Mark an individual as a paying customer
                value:
                  email: "john.doe@example.com"
                  event_type: "paying_customer"
                  event_time: "2025-06-30T14:30:00Z"
                  first_name: "John"
                  last_name: "Doe"
                  company_name: "Example Corp"
              dnc:
                summary: "Do Not Contact (one person)"
                description: Block outreach to this specific person only
                value:
                  email: "jane.smith@example.com"
                  event_type: "dnc"
                  event_time: "2025-06-30T14:30:00Z"
              meeting_booked:
                summary: "Meeting Booked"
                description: Track when a contact books a meeting
                value:
                  email: "john.doe@example.com"
                  event_type: "meeting_booked"
                  event_time: "2025-06-30T14:30:00Z"
                  first_name: "John"
                  last_name: "Doe"
                  company_name: "Example Corp"
                  campaign_id: "webinar_june"
      responses:
        '200':
          description: Event successfully recorded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttributionResponse'
              example:
                status: "success"
                message: "Contact event processed successfully"
                event_id: "evt_contact_abc123xyz"
        '400':
          description: Bad request - Invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: "error"
                message: "Invalid email format"
        '401':
          description: Unauthorized - Invalid Client ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: "error"
                message: "Invalid Client ID"

  /attribution/{client_id}/company:
    post:
      operationId: trackCompanyAttribution
      summary: Company Attribution
      description: |
        Track events for **entire companies** using their domain.
        
        Use this when you want to attribute actions to an **organization**, not a specific person.
        
        ---
        
        ## 🚨 Important Warnings
        
        ### For `dnc` (Do Not Contact)
        > ⚠️ **WARNING:** Using `domain` will block outreach to **ALL employees at this company!**
        
        *If you only want to block one person, use Contact Attribution with `email` instead.*
        
        ### For `paying_customer`
        Using `domain` marks **the entire account/company** as a customer (account-based billing).
        
        *If your billing is per-user/per-seat, use Contact Attribution with `email` instead.*
        
      tags:
        - Company Attribution
      parameters:
        - name: client_id
          in: path
          required: true
          schema:
            type: string
          description: |
            Your unique Client ID provided by Sales Automation Systems. 
            This serves as your authentication - no additional API keys required.
          example: "abc123xyz"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanyAttributionRequest'
            examples:
              sign_up:
                summary: "Sign Up Event (account-level)"
                description: Track when a company signs up
                value:
                  domain: "example.com"
                  event_type: "sign_up"
                  event_time: "2025-06-30T14:30:00Z"
                  company_name: "Example Corp"
                  campaign_id: "enterprise_q4"
              paying_customer:
                summary: "Paying Customer (account-level)"
                description: Mark an entire company as a paying customer
                value:
                  domain: "example.com"
                  event_type: "paying_customer"
                  event_time: "2025-06-30T14:30:00Z"
                  company_name: "Example Corp"
                  campaign_id: "enterprise_q4"
              dnc_warning:
                summary: "⚠️ Do Not Contact (ENTIRE company)"
                description: "WARNING: Blocks ALL employees at this domain!"
                value:
                  domain: "example.com"
                  event_type: "dnc"
                  event_time: "2025-06-30T14:30:00Z"
                  company_name: "Example Corp"
              website_visitor:
                summary: "Website Visitor (company identified)"
                description: Track when a company visits your website
                value:
                  domain: "example.com"
                  event_type: "website_visitor"
                  event_time: "2025-06-30T14:30:00Z"
                  company_name: "Example Corp"
                  campaign_id: "homepage"
      responses:
        '200':
          description: Event successfully recorded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttributionResponse'
              example:
                status: "success"
                message: "Company event processed successfully"
                event_id: "evt_company_xyz789abc"
        '400':
          description: Bad request - Invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: "error"
                message: "Invalid domain format"
        '401':
          description: Unauthorized - Invalid Client ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: "error"
                message: "Invalid Client ID"

components:
  schemas:
    EventType:
      type: string
      enum:
        - sign_up
        - meeting_booked
        - paying_customer
        - website_visitor
        - dnc
      description: |
        Type of attribution event.
        
        **Note:** The impact of each event type depends on whether you use Contact Attribution (email) or Company Attribution (domain).

    ContactAttributionRequest:
      type: object
      title: Contact Attribution Request
      description: |
        Request body for tracking **individual contact** events.
        
        Include `email` to attribute actions to a specific person.
      required:
        - email
        - event_type
        - event_time
      properties:
        email:
          type: string
          format: email
          description: |
            **Required.** Email address of the contact.
            
            This identifies the specific individual to track.
          example: "john.doe@example.com"
        event_type:
          $ref: '#/components/schemas/EventType'
        event_time:
          type: string
          format: date-time
          description: ISO 8601 timestamp when the event occurred
          example: "2025-06-30T14:30:00Z"
        first_name:
          type: string
          description: Contact's first name
          example: "John"
        last_name:
          type: string
          description: Contact's last name
          example: "Doe"
        company_name:
          type: string
          description: Name of the contact's company (for reference only)
          example: "Example Corp"
        campaign_id:
          type: string
          description: Campaign identifier for attribution tracking
          example: "summer_2025"

    CompanyAttributionRequest:
      type: object
      title: Company Attribution Request
      description: |
        Request body for tracking **company-wide** events.
        
        Include `domain` to attribute actions to an entire organization.
        
        ⚠️ **Warning:** For `dnc` events, this will block ALL contacts at this domain!
      required:
        - domain
        - event_type
        - event_time
      properties:
        domain:
          type: string
          description: |
            **Required.** Company domain for organization-wide attribution.
            
            This identifies the entire company to track.
            
            ⚠️ For `dnc`: Blocks ALL employees at this domain!
          example: "example.com"
        event_type:
          $ref: '#/components/schemas/EventType'
        event_time:
          type: string
          format: date-time
          description: ISO 8601 timestamp when the event occurred
          example: "2025-06-30T14:30:00Z"
        company_name:
          type: string
          description: Name of the company
          example: "Example Corp"
        campaign_id:
          type: string
          description: Campaign identifier for attribution tracking
          example: "enterprise_q4"

    AttributionResponse:
      type: object
      properties:
        status:
          type: string
          example: "success"
        message:
          type: string
          description: Human-readable response message
        event_id:
          type: string
          description: Unique identifier for the recorded event

    ErrorResponse:
      type: object
      properties:
        status:
          type: string
          example: "error"
        message:
          type: string
          description: Error description
